DATA_PATH=/root/data

EXTERNAL_HOST=chill.services
PROTOCOL=https

# Minio
MINIO_USER=admin
MINIO_PASS=

# MongoDB
MONGO_USER=admin
MONGO_PASS=

# Redis
REDIS_HOST=redis
REDIS_PASS=

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
LOKI_PORT=3100
ALLOY_PORT=12345
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASS=

# Sentry
SENTRY_PORT=9002
SENTRY_SECRET_KEY=
SENTRY_SINGLE_ORGANIZATION=1
SENTRY_EVENT_RETENTION_DAYS=30
SENTRY_DB_NAME=sentry
SENTRY_DB_USER=sentry
SENTRY_DB_PASS=
SENTRY_SERVER_EMAIL=sentry@chill.services
SENTRY_SMTP_HOST=
SENTRY_SMTP_PORT=587
SENTRY_SMTP_USER=
SENTRY_SMTP_PASS=
SENTRY_SMTP_USE_TLS=true
