apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    # Internal URL - Prometheus serves at root due to --web.route-prefix=/
    # The /prometheus prefix is only for external Nginx routing
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    jsonData:
      timeout: 60
      maxLines: 1000
      # Enable derived fields to link logs to traces (if you add Tempo later)
      derivedFields: []
